<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>About Me</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="card">
    <img src="/profile.jpeg" alt="My Photo" class="profile-pic" />

    <h1>Laxmi Baghel</h1>
    <p class="role">Passionate about cloud computing and hands-on learning</p>

    <p class="bio">
        Hi 👋 I am Laxmi.
        I’m learning Google Cloud Platform and building hands-on projects
        using App Engine, Cloud Run, and serverless technologies.
    </p>
</div>
</body>
</html>
